.page-lookup-heading {

    font-size: 18px;
    color: #000!important;
    font-weight: 500 !important;
    margin-top: 4px;

}

.hover::hover {
    cursor: pointer;
}

.main {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.125);
}
.header-svg{
    width: 50px;
    height: 46px;
}