.image-container{
    margin: 2rem;
    min-width: 5rem;
}
.small-image-div{
    position:absolute;
}
.next-btn{
    right: 15%;
}
.common-btn{
    position: absolute;
    top: 10%;
    width: 50px;
}
.prev-btn{
    left: 15%;

}
.display-image{
    width: 80vh;
    height: 80vh;
    display: block;
    
}
.image-description{
    display: block;
    font-size: 16px;
    font-weight: 700;
}

