.info-heading{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #0078d4 ;
}
.div-row{
    border-bottom: 1px solid gainsboro;
}
.main-heading{
    padding-bottom: 10px;
    color: #0078d4 ;
}
.edit-heading{
    display: inline;
    padding-bottom: 10px;
    padding-right: 4px;
}
.svg-styling{
    height:38px !important
}
