.header {
    height: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .logo-container {
        height: 100%;
        padding: 25px;
    }
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}

.hideInput {
    display: none;
    ;
}

.custom-bg {
    background: #0078d4 !important;
}

.home {
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
}

.profile-image-uploader {
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 20px;
    cursor: pointer;
}

.container-profile-uploader {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 2px
}

.main-container-profile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 5px;
}

.profile-image {
    border: 2px solid #0078d4;
}

.dropdown-toggle::after {
    border: none !important
}

.main-container-profile h6 p {
    color: #0078d4 !important;
}