body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 60px ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a{
  text-decoration:none;
  color:black;
}
*{
  box-sizing: border-box;
}
#root{
  background-image: url('./assets//background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color :#fff;
}
.bg-custom{
  background: #f16136 !important;
  border-radius: 5px !important;
  border: 3px solid #00a859 !important;
  color :#fff !important;
}
.list-group{
  color:black !important;
}
.on-hover:hover{
  cursor: pointer;
}